{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2 class="title">Registro de Usuario</h2>
  <form method="POST" class="process-form">
    {{ form.hidden_tag() }}
    <div>
      {{ form.nombre.label }}
      {{ form.nombre(class="form-control") }}
      {% for error in form.nombre.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
    <div>
      {{ form.correo.label }}
      {{ form.correo(class="form-control") }}
      {% for error in form.correo.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
    <div>
      {{ form.contraseña.label }}
      {{ form.contraseña(class="form-control") }}
      {% for error in form.contraseña.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
    <div>
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>
{% endblock %}