{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2>Bienvenido, {{ nombre }}</h2>
  <p>Selecciona una opción:</p>
  <ul>
    <li><a href="{{ url_for('admin') }}">Panel de Administrador</a></li>
    <li><a href="{{ url_for('user_dashboard') }}">Panel de Usuario</a></li>
  </ul>
</div>
{% endblock %}